body {
    margin: 0;
}

.header {
    background-image: url(../img/pattern.png);
    background-size: 925px;
    background-color: rgb(165, 218, 255);
    padding: 63px;
}

.logo {
    width: 325px;
    margin-left: 8%;
}

main {
    margin: auto;
    width: 80%;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0;
}

#written-by {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    color: grey;
}

#writer-name {
    font-style: normal;
    color: rgb(88, 124, 255);
}

#date {
    margin-top: 0;
    color: grey;
    font-size: 20px;
}

.image {
    height: 600px;
}

.description {
    margin: 0;
    font-size: 20px;
}

.long-paragraph {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight {
    background-color: yellow;
    font-style: normal;
}

.table {
    font-size: 25px;
}

.table-head {
    color: white;
    background-color: rgb(134, 182, 255);
    text-align: left;
}

.table-element {
    border: 7px;
    border-color: solid, white;
}

.dark-row {
    background-color: rgb(227, 227, 255);
}

.long-row {
    width: 50%;
}

footer {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 62px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(55, 65, 109);
}